Flask
Flask-APScheduler
gunicorn
requests
Flask-Cors
Flask-Limiter
flask_login
flask_executor
flask_sqlalchemy
werkzeug
pandas
xlrd
psycopg2-binary
spacy
openpyxl
Flask-WTF
WTForms
sib_api_v3_sdk
pytz